<div class="container">

    <h1>TESTING</h1>
    <div class="row">
        {{#each projects}}
        <div class="project-block m-2 p-4">
            <a href="{{link}}" target="_blank"></a>

            <h2 class="card-title"><a href="https://wereinorbit.herokuapp.com/" target="_blank"
                    class="card-link card-img-link">{{title}}</a></h2>

            {{!-- <div class="card-body"> --}}
                <p class="card-text">{{description}}</p>
                {{!--
            </div> --}}
            <div class="project-tech">
                <ul>
                    {{#each technologies}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            <div class="project-footer">
                <a href="{{github}}" class="project-link">Repo <i class="fab fa-github"></i></a>
                <a href="{{link}}" class="project-link">Link <i class="fas fa-globe"></i></a>
            </div>
        </div>
        {{/each}}
    </div>
</div>
